* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'MessySmilingCactus';
    src: url('fonts/MessySmilingCactusRegular-6rY1.ttf') format('truetype');
  }

body {
    background-color: #f5f5f5;
}

header, h1, .input {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

h1 {
    font-family: 'MessySmilingCactus', Helvetica, sans-serif;
    font-size: 3.5rem;
    color: #252525;
}