

*, *::before, *::after {
    box-sizing: border-box;
}

/* :root {
    --main-bg-color: brown;
  } */

header {
    text-align: center;
}

img {
    max-width: 100%;
}



.input {
    padding: 1rem;
}

/* .color-box {
    display: flex;
    
    width: 80%;

    background-color: var(--main-bg-color);
    transform: translateY(200px);
}

.stencil {
    width: 10%;
} */