#animals-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex: 0 1 150px;
    margin: 5px;
}

p {
    max-width: 500px;
}

h1 {
    text-align: center;
}

/* Overlay effect */
.container {
    position: relative;
    width: 100px;
    max-width: 100px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 0px;
    text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
    opacity: 1;
}