* {
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #deb887;
    padding: .3em 0 .3em 0;
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav a {
    width: 25%;
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
}

@media (max-width: 600px) {
    nav a {
        width: 50%;
    }
}

nav img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.animal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-info img {
    width: 100%;
    max-width: 600px;
}

p {
    max-width: 400px;
}

.button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.button a {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #deb887;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}