/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter';
    margin: 0;
}

img {
    width: 100%;
}

/* Utility classes */
.d-flex {
    display: flex;
}

/* Typography */
@font-face {
    font-family: "Inter";
    src: url("fonts/inter/Inter-Regular.otf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/inter/Inter-Bold.otf") format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/inter/Inter-Light.otf") format('truetype');
    font-style: normal;
    font-weight: 200;
}

.btn {
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    background-color: #0000ff;
    padding: 15px 25px;
}

.btn:hover,
.btn:active,
.btn:focus {
    opacity: 0.5;
}

/* .contact-btn {

} */


/* Layout */
body {
    transition: background-color 1.5s ease;
    background-color: #7fffd4;
    margin: 0 auto;
}

.site__container {
    color: #252525;
}

.header__container,
.main__container {
    padding: 2rem;
}

.logo {
    max-width: 5rem;
}

.header__logo {
    justify-content: space-between;
    align-items: flex-start;
}

.header__text {
    flex-grow: 2;
}

.projects {
    flex-direction: column;
}

.project__img {
    max-width: 900px;
    max-height: 370px;
    object-fit: cover;
}

.project__text {
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 25px;
    border: 2px red solid;
}

.project__text--title {
    font-size: 35px;
    font-weight: 600;
}

.project__text--category {
    font-size: 12px;
}

.footer__container {
    /* position: sticky; */
    justify-content: center;
    align-items: center;
    background-color: #252525;
    padding: 20px 30px;
}

.footer__text {
    font-size: 10px;
    font-weight: 200;
    color: #f5f5f5;
    opacity: .8;
}

/* Media Queries */
@media screen and (min-width: 900px) {
    body {
        transition: background-color 1.5s ease;
        background-color: lightcoral;
    }

    .project__img {
        display: none;
    }

    .project__text--title {
        font-size: 6.5rem;
    }

    .project__text--category {
        font-size: 20px;
    }

    
}


/* Hover effect */
#hover-area {
    position: relative;
}

.followMouse {
    z-index: -1;
    position: absolute;
}